{% extends 'base.html' %}

{% load comments %}
{% load static %}

{% block scripts %}
  {{ block.super }}
  <script type="text/javascript" src="{% get_static_prefix %}cache-long/thickbox-compressed.js"></script>
  <script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>

{% endblock %}

{% block styles %}

  <link rel="stylesheet" href="{% get_static_prefix %}cache-long/thickbox.css" type="text/css">
  {{ block.super }}
{% endblock %}

{% block meat %}
  <h3> {{ article.title|safe }}</h3>

  {{ article.body|safe }}

  <h3>Comments:</h3>
  {% render_comment_list for article %}

  <a id="post-a-comment" href="{% url blog.views.ajax_comment article.id %}?KeepThis=true&TB_iframe=true&height=300&width=300" title="Add a Comment" class="thickbox">
    Post a Comment
  </a>
{% endblock meat %}
