{% extends 'base.html' %}

{% load comments %}
{% load static %}

{% block scripts %}
  {{ block.super }}
  <script type="text/javascript" src="{% get_static_prefix %}cache-long/ui/jquery-ui-1.8.16.custom.min.js"></script>
  <script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
  <script type="text/javascript">
    function show_dialog(){
       $("#modal-iframe-container").html('<iframe id="modal-iframe" width="100%" height="100%" \
                                        marginWidth="0" marginHeight="0" frameBorder="0" scrolling="auto" />').dialog("open");
       $("#modal-iframe").attr("src", "{% url blog.views.ajax_comment article.id %}");
        return false;
    }
    $(document).ready(function(){
      $("#modal-iframe-container").dialog({
               autoOpen: false,
               modal: true,
               height: 700,
               width: 500
           });

      $("#post-a-comment").click(show_dialog);
    });
  </script>
{% endblock %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% get_static_prefix %}cache-long/ui/jquery-ui-1.8.16.custom.css" type="text/css">

{% endblock %}

{% block meat %}
  <h3> {{ article.title|safe }}</h3>

  {{ article.body|safe }}

  <h3>Comments:</h3>
  {% render_comment_list for article %}

  <div id="modal-iframe-container" style="display: none;" title="Post a Comment">
  </div>

  <div>
    <div id="post-a-comment">
      Post a Comment
    </div>
  </div>
{% endblock meat %}
