{% extends 'clean-base.html' %}
{% load static %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% get_static_prefix %}no-cache/blog.css" type="text/css">
{% endblock %}

{% block body %}

  <div id="content" class="content">

    <div id="meat">
      {% block meat %}
        <br/>
      {% endblock %}
    </div>

    {% include "sidebar.html" %}

  </div>

  <div id="footer" class="content">
    {% block footer %}
    {% endblock footer %}
  </div>

{% endblock body %}



