{% extends 'base.html' %}

{% load comments %}
{% load static %}

{% block styles %}
  {{ block.super }}

<style type="text/css">
table{
  width: 750px;
}
input[type="text"], textarea {
  width: 250px;
  padding: 5px;
}
textarea{
  width: 500px;
}
tbody, tr{
  width: 100%;
}
td{
  vertical-align: top;
  padding: 5px;
}
.ui-dialog, .ui-dialog-content{
  overflow: hidden;
}
</style>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{% get_static_prefix %}cache-long/jquery.form.js"></script>
<script type="text/javascript">

  $(document).ready(function() {

      $('body').ajaxComplete(function(event, xhr, settings) {
        if (xhr.status == 278) {
            parent.window.location.href = xhr.getResponseHeader("Location").replace(/\?.*$/, "");
        }
    });
    $(document).ajaxSend(function(event, xhr, settings) {
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        function sameOrigin(url) {
            // url could be relative or scheme relative or absolute
            var host = document.location.host; // host + port
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
                    // Allow absolute or scheme relative URLs to same origin
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                            // or any other URL that isn't scheme relative or absolute i.e relative.
                !(/^(\/\/|http:|https:).*/.test(url));
        }
        function safeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    });

      $('#comment-form').submit(function(){
          $(this).ajaxSubmit({
          success: function(response, status, request) {
              $("#comment-form").html(response);
          },
          url: "{% comment_form_target %}",//{% url blog.views.ajax_comment article.id %}
          type: "POST"}
          );

    return false;
    })
  });
</script>
{% endblock scripts %}

{% block body %}

{% get_comment_form for article as form %}
<form action="{% comment_form_target %}" method="post" id="comment-form">
  <table width="100%">
    {% if form.non_field_errors %}
      <tr class='error'>
        <td><i>There was an error:</i></td>
        <td>{{ form.non_field_errors }}<span id="__failure_tag_non_field_errors"></span></td>
      </tr>
    {% endif %}

    {% for field in form.visible_fields %}
      {% if field.errors %}
        <tr class='error'>
          {% if field.help_text %}
            <td colspan="1"><i>error:</i></td>
          {% else %}
            <td><i>error:</i></td>
          {% endif %}
          <td>{{ field.errors }}<span id="__failure_tag_{{field.html_name}}"></span></td>
        </tr>
      {% endif %}

      <tr class='titleRow {% if field.name == "honeypot" %}hide{% endif %}'>
        <td><label for="{{ field.html_name }}" class="fieldLabel">{{ field.label }}{% if not form.ignore_required_prompt %}{% if field.field.required %}*{%endif%}{%endif%}</label></td>
        <td>{{ field }}</td>
      </tr>
    {% endfor %}

    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    {% csrf_token %}

    <tr>
      <td colspan="2">
        <input type="submit" name="submit" value="Post">
      </td>
    </tr>
  </table>

  <p style="float: left; width: 100%;"><b>*</b> = field is required.

  <input type="hidden" name="next" value="{% url blog.views.lookup_article slug=article.slug %}" />

 </form>
{% endblock %}
