{% load recent_posts %}

<div id="sidebar">
  <h3>hewro, I'm matt</h3>
  <p>
    I've written this stuff, some of which may be marginally helpful or informative.
    You may also want to check out <a href="http://www.cloudfab.com">Cloudfab</a>, which I helped to build.
  </p>

  <hr/>

  <h3>recent stuffs</h3>

  {% recent_stuffs 5 as stuffs %}
  <ul>
    {% for stuff in stuffs %}
      <li><a href="/{{ stuff.slug }}">{{ stuff.title|truncatewords:5 }}</a></li>
    {% endfor %}
  </ul>

  <hr/>

  <h3>github</h3>

  <ul>
    <li>
      <a href="https://github.com/kans/kans-face-">blog</a>
      <p>the blog (software) itself</p>
    </li>
    <li>
      <a href="https://github.com/kans/BitBlinder">BitBlinder</a>
      <p>defunct anonymizing network</p>
    </li>
  </ul>


</div>
