{% load recent_posts %}

<div id="sidebar">
  <div id="header">
    <h1>kansface</h1>
    <h2> matt kaniaris's face on programming, language, food, and stuff </h2>
  </div>

  <div class="sidebar-item">
    <h2>aboot</h2>
    <p>
      I've written mainly in python for a few years now.
      I also wrote this stuff, some of which may even be marginally helpful or informative.
      You may want to check out <a href="http://www.cloudfab.com">Cloudfab</a>, which I helped to build.
    </p>
  </div>


  <div class="sidebar-item">
    <h2>recent stuffs</h2>
    <p id="recent-posts">
    </p>
    <script type="text/javascript">
      $(document).ready(function(){
          $.ajax({
            url: "{% url blog.views.get_recent_posts %}",
            success: function(data, textStatus, jqXHR){
              $("#recent-no-script").replaceWith(data);
            },
          });
       });
    </script>
    <noscript id="recent-no-script">
      Enable javscript to see these!
    </noscript>
  </div>

  <div class="sidebar-item">
    <h2>archive</h2>
    <p>
      <a href="{% url blog.views.archives %}">archive</a>
    </p>
  </div>


  <div class="sidebar-item">
    <h2>github</h2>
    <p>
      <ul>
        <li>
          <a href="https://github.com/kans/kans-face-">blog</a>
          <br/>
          the blog (software) itself
        </li>
        <li>
          <a href="https://github.com/kans/BitBlinder">BitBlinder</a>
          <br/>
          defunct anonymizing network
        </li>
      </ul>
    </p>
  </div>
</div>
