{% load recent_posts %}

<div id="sidebar">
  <h3>hewro, I'm matt</h3>
  <p>
    I've written this stuff, some of which may be marginally helpful or informative.
    You may also want to check out <a href="http://www.cloudfab.com">Cloudfab</a>, which I helped to build.
  </p>

  <hr/>

  <h2>recent stuffs</h2>

  {% recent_stuffs 5 as stuffs %}
  <ul>
    {% for stuff in stuffs %}
      <li><a href="{{ stuff.url }}">{{ stuff.title|truncatewords:5 }}</a></li>
    {% endfor %}
  </ul>

  <hr/>

  <h2>github</h2>

  <ul>
    <li>
      <a href="https://github.com/kans/kans-face-">blog</a>
      <br/>
      the blog (software) itself
    </li>
    <li>
      <a href="https://github.com/kans/BitBlinder">BitBlinder</a>
      <br/>
      defunct anonymizing network
    </li>
  </ul>


</div>
