
body{
    font-family: "PT Serif", "Serif";
    font-size: 1.2em;
}
h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-family: "Georgia","Times New Roman";
}
i{
    font-style:italic;
}
h3{
    font-size: 1.6em;
    padding: 20px 0;
}
h2{
    font-size: 1.4em;
    padding: 10px 0;
    }
dl{
    padding: 5px 0;
}
dt{
    margin: 10px 0;
    font-size: 1.2em;
    font-weight: bold;
}
dd{
    margin: 10px 0;
    padding-left: 10px;
}

#header{
    padding: 40px 0;
}
#header > h1{
    font-size: 2.2em;
}
#header h2{
    font-size: .9em;
    margin: 0;
    font-style: italic;
    padding: 5px 15px;
    border-top: 1px dotted;
    border-bottom: 0 none;
}

#nav{
    font-size: 1.1em;
    height: 1em;
    padding: 15px 0;
    border: 2px solid;
    border-left: none;
    border-right: none;
}
#nav > ul{
    display: block;
    border: 0 none;
    margin-left: 0;
    padding-left: 0;
}
#nav > ul > li{
    display: inline;
    float: left;
    margin-left: 1em;
    padding-left: 1em;
}
#nav > ul > li:first-child{
    margin: 0;
    padding-left: 0;
}
#nav > ul > li + li {
    border-left: 1px dotted #333;
}
#nav a{
    text-decoration: none;
    color: #000;
}
.content{
    width: 1200px;
    margin: 0 auto;
    clear: both;
    padding-left: 50px;
    padding-right: 50px;
}
#sidebar{
    width: 226px;
    float: left;
    padding: 0 25px 0 0;
    padding-top: 0px;
    margin-top: 50px;
    border-right: 1px dotted;
}
.sidebar-item {
    padding: 15px 0 30px 15px;
}
.sidebar-item > h2{
    font-weight: bold;
    font-size: 1.1em;
    border-bottom: 1px dotted;
}
.sidebar-item > p{
    padding-top: 10px;
}
#sidebar > ul{
    display: block;
    margin: 0;
    padding: 0;
}
#sidebar > ul > li{
    display: block;
    list-style: none;
    padding: 13px 0;
}
#sidebar > ul > li + li{
    border-top: 1px dotted #333;
}
#meat{
    float: right;
    width: 940px;
    padding-top: 75px;
}

#comment-form table{
    text-align: left;
}
#post-a-comment{
    border: 2px solid #333;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    display: inline;
}
a:link, a:visited, a:hover{
    text-decoration: underline;
    color: #F00;
}
#blog-post{
    padding-top: 0px;
    padding-left: 50px;
    padding-bottom: 100px;
    font-size: 1.1em;
}
#blog-post h3:first-of-type{
    padding: 0px 0 35px 0;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}
#blog-post h4{
    font-size: .9em;
    color: #999;
    font-style: italic;
    padding: 5px 0;
}
.blog-year > h2{

}
#blog-post p{
    padding: 10px 0;
}
#start-comments{
    padding-top: 50px;
}
pre.prettyprint{
    padding: 10px;
    background: #EEEEEE;
}
.pun, .opn, .clo {
    color: #000;
}
.kwd{
    color: #00008B;
}
.str,.lit{
    color: #700000;
}