
body{
    font-family: "PT Serif", "Serif";
    font-size: 1.2em;
}
#header > h1{
    font-size: 2.2em;
}
#header > h2{
    font-size: 1.2em;
    padding: 0;
    margin: 0;
}
#nav{
    font-size: 1.1em;
}
#nav > ul{
    display: block;
    border: 0 none;
    margin-left: 0;
    padding-left: 0;
}
#nav > ul > li{
    display: inline;
    float: left;
    margin-left: 1em;
    padding-left: 1em;
}
#nav > ul > li:first-child{
    margin: 0;
    padding-left: 0;
}
#nav > ul > li + li {
    border-left: 1px solid #333;
}
#nav a{
    font-decoration: none;
    color: #333;
}
.content{
    width: 1200px;
    margin: 0 auto;
    clear: both;
    padding-left: 50px;
    padding-right: 50px;
}
#sidebar{
    width: 230px;
    float: left;
    padding: 15px;
}
#sidebar hr{
    margin: 15px 0;
    }
#sidebar h3{
    margin: 15px 0;
}
#sidebar > ul{
    display: block;
    margin: 0;
    padding: 0;
}
#sidebar > ul > li{
    display: block;
    list-style: none;
    padding: 10px 0;
}
#sidebar > ul > li + li{
    border-top: 1px dotted #ddd;
}
#meat{
    float: left;
    width: 940px;
}

#comment-form table{
    text-align: left;
}
#post-a-comment{
    border: 2px solid #333;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    display: inline;
    padding: 10px;
    cursor: pointer;
}
a:link{
    text-decoration: underline;
    color: #ff0000;
}
a:visited{
    color: #ff0000;
}